torch==2.3.1
torchaudio==2.3.1 
torchvision==0.18.1
connected-components-3d
tqdm
fastremap
simpleitk
ipdb
matplotlib
tensorboardX
ml-collections
einops
timm
elasticdeform
numpy
nibabel
scipy
pandas
glob2
opencv-python