monai==0.9
torch==2.3.1
torchaudio==2.3.1 
torchvision==0.18.1
connected-components-3d==3.17.0
tqdm
fastremap
simpleitk==2.3.1
ipdb
matplotlib
tensorboardX
ml-collections
einops
timm
elasticdeform
numpy==1.25.2
nibabel
scipy
pandas
glob2
opencv-python
h5py==3.11.0
jupyterlab==4.2.4